li {
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}


li:nth-child(2n) {
    background-color: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

span {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

.completed {
    color: gray;
    text-decoration: line-through;
}